<div id="gtco-subscribe">
  <div class="gtco-container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
        <h2 class="cursive-font">Inscreva-se!</h2>
        <p>Fique por dentro das novidades do Boteco Do Mosquito.</p>
        <ul class="gtco-social-icons">
          <li>
            <a href="https://www.facebook.com/botecodomosquito1" target="_blank">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/boteco_do_mosquito" target="_blank">
              <i class="icon-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/botecodomosquitooficial" target="_blank">
              <i class="icon-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-inline">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label for="email" class="sr-only">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="Seu melhor E-mail">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <button type="submit" class="btn btn-default btn-block">Inscrever</button>
          </div>
       
        </form>
        
      </div>
    </div>
  </div>
</div>