<div id="gtco-counter" class="gtco-section">
  <div class="gtco-container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
        <h2 class="cursive-font primary-color">Parceiros</h2>
        <p>Este são alguns dos nossos parceiros!</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
        <div class="feature-center">
          <a href="https://www.ambev.com.br/" target="_blank">
            <img src="/images/parceiros/ambev.png" alt="ambev"></img>
          </a>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
        <div class="feature-center">
          <a href="http://www.compostec.com.br/" target="_blank">
            <img src="/images/parceiros/compostec.svg" alt="compostec"></img>
          </a>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
        <div class="feature-center">
          <a href="https://gazetadetoledo.com.br/" target="_blank">
            <img src="/images/parceiros/gazeta.png" alt="Gazeta"></img>
          </a>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
        <div class="feature-center">
          <a href="https://biopark.com.br/" target="_blank">
            <img src="/images/parceiros/biopark.png" alt="Biopark"></img>
          </a>

        </div>
      </div>
      
      
                         
    </div>

    </div>
  </div>
</div>