<div id="gtco-features">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
        <h2 class="cursive-font">Nossos Serviços</h2>
        <p>No boteco do mosquito você terá atendimento personalisado, com a cerveja mais gelada e melhor churrasco do
          sul do Brasil.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="ti-face-smile"></i>
          </span>
          <h3>Pessoas Felizes</h3>
          <p>Ambiente agradável com musica ao vivo, com a cerveja mais gelada da região!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="ti-thought"></i>
          </span>
          <h3>Espeto Corrido</h3>
          <p>O melhor churrasco esta aqui, carnes nobres feitas pelos melhores churrasqueiros!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="https://api.whatsapp.com/send?phone=1&text=Gostaria%20de%20solicitar%20um%20Delivery." target="_blank">
          <div class="feature-center animate-box" data-animate-effect="fadeIn">
            <span class="icon">
              <i class="ti-truck"></i>
            </span>
            <h3>Delivery</h3>
            <p>Solicite seu Delivery via Whatsapp, o melhor churrasco esta te esperando!</p>
          </div>
        </a>
      </div>


    </div>
  </div>
</div>