<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://seediti.org">SeediTi</a>
  </div>
  <!-- Default to the left -->
  Ambiente de administração do site, as informações contida aqui não pode ser disponibilizadas ao publico.
</footer>

</div>


<%- include('cont/script') -%>
</body>

</html>