<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://www.hcode.com.br">Hcode</a>
  </div>
  <!-- Default to the left -->
  Projeto desenvolvido no curso online de JavaScript da Hcode Treinamentos.
</footer>

</div>


<%- include('cont/script') -%>
</body>

</html>