<section class="content-header">
  <h1>
    <%= pag %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-home"></i> Home</a></li>
    <li class="active"><%= pag %></li>
  </ol>
</section>